<html>
<head>
<body>
<center>
<font size = 6 color = "Green" face = "Castellar"><b><img src = "100.jpg" border ="0">***WELCOME TO THE PAGE ALL ABOUT FRACTIONS***<img src = "100.jpg" border ="0"></b></font>
</center>
<p>

<b>In this page we will be discussing:</b> <p>
<p><i>1.What is a fraction?</i>
<p><i>2.What the parts of a fraction.</i>
<p><i>3.Types of fractions</i>
<p><i>4.Other facts about fractions.</i>

<p>
<br>

<u><font size = 5 color = "blue">So what is a fraction?</font></u>
<p>-a fraction can be described as a part of a whole.
<br>
<br>
<p>This is what a fraction looks like.
<br>
<img src = "1.png" border ="4">

<p>Fractions can be written like this:
<p><b>1/2, 3/4, 1/5, 2/4</b>
<br>
<p>
<b>**You can visit this page to find your own defintion</b><a href = "https://www.google.com.bz/"><img src = "SEARCH.png" border ="0"></a>
<p>
<p>It is made up of '2' numbers. <br> <font face ="Cataneo BT" size = 4>A top number called the <font color = "red"><u><b>NUMERATOR</font></b></u> and a bottom number called the <font color = "green"><u><b>DENOMINATOR.</font></font></b></u>
<p>The top number tell us how many parts we have left while the bottom number tell us how many parts we have in total. 
<br>To get a better understanding you can click  <a href = "https://www.mathsisfun.com/fractions.html">Click Here</a>
<p>
<p>
The are mainly three types of fractions:
<p>
Type one: <b>Proper Fraction</b>
This is where the numerator is smaller than the denominator.
<p>eg: <img src = "2.gif" border ="4">
<p>
Type two: <b>Improper Fraction</b>
This is when the numerator is larger than the denominator.   
<p>eg: <img src = "3.gif" border ="4">
<p>
<b><font face = "Script MT Bold color" = "teal">Note improper fractions can be converted to <u>MIXED NUMBERS</u> through a series of steps.</font></b>
<p>

<p>Type three: <b>Mixed Numbers</b>
This type of fractions consists of a whole number and a fraction.
<p>eg: <img src = "4.jpg" border ="4">

<p>
<center>
This table shows the names and divisions of fractions:
<table border = 1 cellpadding = 4 cellspacing = 3>
<font size = 5>
<tr align = "center" valign = "center" bgcolor = "sky blue">
<td>No. of parts</td>
<td>Name of equal parts</td>
<td>Shaded part</td>
<td>Fractional</td>
</tr>
</font>
<tr>
<td><font color = "red" size = 5>8</font></td>
<td><font color = "red" size = 5>Eights</font></td>
<td><font color = "red" size = 5>5</font></td>
<td><font color = "red" size = 5>5/8</font></td>
</tr>
<tr>
<td><font color = "red" size = 5>5</font></td>
<td><font color = "red" size = 5>Fifths</font></td>
<td><font color = "red" size = 5>2</font></td>
<td><font color = "red" size = 5>2/5</font></td>
</tr>
<tr>
<td><font color = "red" size = 5>4</font></td>
<td><font color = "red" size = 5>Fourths</font></td>
<td><font color = "red" size = 5>1</font></td>
<td><font color = "red" size = 5>1/4</font></td>
</tr>
<tr>
<td><font color = "red" size = 5>3</font></td>
<td><font color = "red" size = 5>Thirds</font></td>
<td><font color = "red" size = 5>2</font></td>
<td><font color = "red" size = 5>2/3</font></td>
</tr>
</table>
</center>
</body>
<p>
For more information:
<p><font size = 4 color = "turquoise">You can visit this page for interactive games on fractions</font> <a href = "http://www.sheppardsoftware.com/mathgames/fractions/memory_fractions1.htm"><img src = "88.jpg" border ="0"><font size = 5 color = "yellow">Games</font></a>
<p>
For activities try <a href = "http://www.math-aids.com/Fractions/"><img src = "99.png" border ="0"></a> for printable worksheets. 

<p><br>THANK YOU FOR VISITING.
<p>
<center>
---------------------------------------------------------------------------------------------------------------------------------------
</center><p>
<u>Characteristics of a FRACTION:</u>
<P>
When the numerator is less than the denominator, the fraction is proper, i.e., less than unity. <p>When the reverse is true, e.g., 5/2, the fraction is improper, i.e., greater than unity. <p>When a fraction is written with a whole number, e.g., 31/2, the expression is called a mixed number.
<p>
<p>
<b><center>(The present notation for fractions is of Hindu origin, but some types of fractions were used by the Egyptians before 1600 BC Another way of representing fractions is by decimal notation.)</b>
</center><p>
<center>
<img src = "11.png" border ="0"><img src = "00.gif" border ="0"><img src = "12.png" border ="0">
</center>
<br>
<center><font size = 6 color = "lime green" face = "Brush Script MT">****Hope this was helpful****</font></center>